body {
  display: flex;
  flex-direction: column;
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.nav-bar,
.header {
  background-color: #1f2937;
  color: white;
  padding: 8px;

  display: flex;
  align-items: center;
}

.nav-bar {
  justify-content: space-around;
}

.nav-links {
  display: flex;
  gap: 24px;
}

.nav-bar a {
  color: white;
}

.logo {
  font-weight: 900;
  font-size: 24px;
}

.header {
  justify-content: center;
  gap: 48px;
  padding: 96px;
  align-items: center;
}

.header-text {
  width: 35%;
  margin: 0;
  padding: 0;
}

.header-img {
  width: 35%;
  background-color: gray;
  border: black;
  height: auto;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* align-self: stretch; */
}

h1 {
  font-size: 48px;
  margin: 0;
}

.header-text p {
  font-size: 18px;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  background-color: #3882f6;
  color: white;
  padding: 5px 15px;
  border-radius: 8px;
}

.header-text button {
  margin-top: 10px;
  border-style: none;
}

.info-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.items {
  display: flex;
}
